@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme {
    :root {
        --color-inverted: #292524;

        --color-base: #ffffff;
        --color-base-50: #fafaf9;
        --color-base-200: #e7e5e4;

        --color-primary: #3b82f6;
        --color-primay-dark: #2563eb;
        --color-primary-light: #60a5fa;

        --color-disabled: #a1a1aa;
    }

    .theme-light {
        --color-inverted: #292524;

        --color-base: #ffffff;
        --color-base-50: #fafaf9;
        --color-base-200: #e7e5e4;

        --color-primary: #3b82f6;
        --color-primay-dark: #2563eb;
        --color-primary-light: #60a5fa;

        --color-disabled: #a1a1aa;
    }

    .theme-dark {
        --color-text-base: #101010;
        --color-text-inverted: #ffffff;

        --color-primary-base: #00894c;
        --color-primary-dark: #27744d;
        --color-primary-light: #00a35b;

        --color-secondary-base: #f2e14d;

        --color-disabled: #a1a1aa;
    }
}
